[Unit]
Description=cli-template
After=network-online.target
Wants=network-online.target
StartLimitBurst=3
StartLimitIntervalSec=60

[Service]
User=root
Group=root
RestartSec=5
Restart=on-failure
WorkingDirectory=/opt/cli-template
ExecStart=/opt/cli-template/cli-template.mjs
EnvironmentFile=/opt/cli-template/.env

[Install]
WantedBy=multi-user.target
